[submodule "submodules/eagine-core"]
	path = submodules/eagine-core
	url = ../eagine-core.git
	branch = develop
[submodule "submodules/eagine-shapes"]
	path = submodules/eagine-shapes
	url = ../eagine-shapes.git
	branch = develop
